/* Style sheet for Reveal.js Presentations
Author : Ahmad Ehyaei
*/

:root {
  --background: #f6f6f6;
  --gray: #DDDED6;
  --blue: #009EE2;
  --chapter: #DB1F26;
  --lightgray: #F6F6F6;
  --logo: url(../img/RTLNotes.png);
  --secondlogo: url();
}

/* -------------------------------------- */
/*               Add Font                 */

@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir-Light-FD.ttf");
}
@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir-Regular-FD.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "VazirCode";
    src: url("../fonts/Vazir-Code.ttf");
}

body, html {
  overflow-x: hidden;
  font-family: "Vazir";
  direction: rtl;
}

.book.font-family-0, .book.font-family-1, .book-summary, .book-header {
    font-family: "Vazir"!important;
}

/* -------------------------------------- */
/*               Body Config              */

body, .body-inner, .page-inner section.normal,.navigation,.book-body.fixed {
  background-color: var(--background) !important;
}

body {
  margin-top: 0;
}

.book.font-size-1 .book-body .page-inner section {
    font-size: 1.8rem;
}

/* Content */

.markdown-section ol, .markdown-section ul {
  padding: 0 2em 0 0;
}

code {
  direction: ltr;
}

.markdown-section li {
  line-height: 2em;
}

.markdown-section blockquote {
  border-left: 0;
  border-right: 4px solid #e5e5e5;
}

/* Sidebar */

.book.with-summary .book-summary {
  left: auto;
  right: 0;
  border-right: 0;
  margin-top: 40px;
}

@media (max-width:600px) {
  .book.with-summary .book-body {
    -webkit-transform: translate(calc(60px - 100%),0);
    -moz-transform: translate(calc(60px - 100%),0);
    -ms-transform: translate(calc(60px - 100%),0);
    -o-transform: translate(calc(60px - 100%),0);
    transform: translate(calc(60px - 100%),0);
  }
}

@media (min-width:600px) {
  .book.with-summary .book-body {
    right:300px;
    left: 0;
  }
}


/* Next & Prev */

.fa-angle-left:before {
  content: "\f105";
}

.fa-angle-right:before {
  content: "\f104";
}

.pull-right {
  float: left;
}

.pull-left {
  float: right;
}

/* Dropdowns */
.dropdown-menu.dropdown-left {
  left: 4%;
  right: auto;
}

.dropdown-menu.dropdown-left .dropdown-caret {
  left: 10px;
  right: auto;
}

.dropdown-menu.dropdown-right {
  right: 4%;
  left: auto;
}

.dropdown-menu.dropdown-right .dropdown-caret {
  right: 10px;
  left: auto;
}

.dropdown-menu .dropdown-caret .caret-outer {
  margin: 0 -1px 0 0;
}


/* ------------------------------------------ */
/*                First Page Style            */
/* ------------------------------------------ */

.title, .subtitle,.author,.date {
  color: var(--chapter);
  text-align: center;
}
.title {
  text-transform: uppercase;
  font-size: 4rem !important;
  margin-top: 0.275rem !important;
  margin-bottom: 0.2rem !important;
}

.subtitle {
    text-transform: capitalize;
    font-size: 3rem !important;
    margin-top: 0.1rem !important;
    margin-bottom: 0.2rem !important;
}

.author {
    text-transform: capitalize;
    font-size: 2rem !important;
    margin-bottom: 0.2em !important;
}

.date {
    text-transform: uppercase;
    font-size: 1.5rem !important;
    margin-bottom: 0.2rem !important;
}

/* ------------------------------------------ */
/*                 Header Style               */
/* ------------------------------------------ */

.section h1,
.section h2,
.section h3,
.section h4,
.section h5 {
  padding-top: 3rem !important; /*adding so much padding because theme adds a margin-top: -65px by default */
  margin-bottom: 0.75rem;
  color:var(--chapter);
  border-bottom-color: var(--chapter);
  border-bottom-style: solid;
  padding-bottom: 0.5rem;
}


/* ------------------------------------------ */
/*                   TOC Style                */
/* ------------------------------------------ */

.toc-logo {
  width: 120px !important;
  object-fit: contain;
  margin: 0 auto;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 0px;
}

.toc-title {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.book-header.fixed {
    background-color: var(--background) !important;
    border-bottom: 0px !important;
}

.book-summary {
  background: var(--background) !important;
  font-size: 1.8rem;

}

/* ------------------------------------------ */
/*              Refrence Style                */
/* ------------------------------------------ */

#refs {
    font-size: 90%;
    column-count: 2;
}
#refs > .csl-entry {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
.hanging-indent > .csl-entry {
    padding-left: 15px ;
    text-indent: -15px ;
}
